<%- include("partials/header.ejs")%>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Submitted By</th>
          <th scope="col">Make Changes</th>
        </tr>
      </thead>
      <tbody>
        <% var i=0 %>
        <% blogs.forEach(function(blog){ %>
        <tr>
          <th scope="row"><%= ++i%></th>
          <td><a href="blogs/<%= blog._id%>"> <%= blog.title %></a></td>
          <td>Priyanshu</td>
          <td>
            <a href="blogs/<%= blog._id %>/edit"> EDIT</a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <%- include("partials/footer.ejs")%>